.social-icons {
    position: fixed;
    bottom: 2%;
    left: 2%;
    z-index: 120;
    display: flex;
    flex-direction: column;
}

.social-icons::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}

.social-icon {
    color: var(--slate);
    font-size: 25px;
    padding: 1rem 2rem;
}

@media only screen and (max-width:800px) {

    .social-icons {
        position: relative;
        left: 17%;
        z-index: 120;
        display: flex;
        flex-direction: row;
        width: 10%;


    }

    .social-icons::after {
        content: "";
        display: none;
    }

}