h3 {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
}

.container {
    max-width: 1300px;
    padding-left: 90px;
    padding-right: 90px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.col-1 {
    flex-basis: 100%;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    gap: 2rem;

}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
}

.col-3 img {
    width: 100%;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.col-5 {
    width: 160px;
}

a {
    text-decoration: none;
}

.heading--primary {
    color: var(--lightest-slate);
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}


@media screen and (max-width:800px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}


::-webkit-scrollbar {
    height: 2px;
    width: 8px;
    background: var(--navy);
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: var(--slate);
}