.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    cursor: pointer;
    margin: 3rem 0;
}

.blog-container:hover {
    box-shadow: 2px 2px 5px black, -1px -1px 5px black;

}

.card {
    /* background-color: #fff; */
    max-width: 1000px;
    border-radius: 3px;
    display: grid;

}

.card .img-container {
    width: 250px;
    height: 100%;
    grid-column: 2;
    /* background-color: #c1b7b4; */
    /* background-image: url('https://www.dropbox.com/s/7d5qt5wb2xpqeww/city-street.jpg?raw=1'); */
    background-size: cover;
    background-position: center center;
}

.card-content {
    grid-column: 3 / 5;
    padding: 10px 30px;
    /* border-left: 1px solid #ccc; */
}

h2 {
    text-transform: uppercase;
    color: var(--green);
}

h1 {
    margin-bottom: 0;
    color: var(--lightest-slate);
}

.card-content .author {
    border-top: 1px solid var(--lightest-navy);
    font-weight: 700;
    margin-top: 25px;
    /* padding: 25px 0 10px 0; */
    padding: 10px;
    color: var(--green);
    border: 2px solid var(--green);
    display: inline-block;
}
.card-content .author:hover{
    background-color: var(--lightest-navy);
}

.card-content .excerpt {
    color: var(--slate);
}

@media only screen and (max-width:600px) {
    .card {
        display: block;
        max-width: 800px;
    }

    .card .img-container {
        height: 250px;
        width: 100%;
    }

    .card-content {
        border: 0;
        border-top: 1px solid #ccc;
    }
}