.col-2 p {
    color: var(--slate);
    font-size: 1.6rem;
    padding: 2rem 7rem;
    /* letter-spacing: 2; */
    line-height: 24px;
}

.profile-img {
    min-width: 200px;
    width: 50%;
    position: relative;
    bottom: 3rem;
    left: 9rem;
}

.profile-img img {
    width: 100%;

    border-radius: 5%;
}

@media only screen and (max-width:800px) {
    .col-2 p {
        padding: 0;
        padding-bottom: 2rem;
    }

    .profile-img {
        margin-top: 2.7rem;
        width: 80%;
        bottom: 0rem;
        left: 2rem;
    }


}